<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body id="app">
    <my-header :cardNum='card'></my-header>

    <main class="main__index">
        <section class="section__opening">
            <div class="content--left">
                <img src="images/logo.png" alt="логотип Neon~Energy">
            </div>
            <div class="content--bottom">
                <h1 class="slogan text--caps">ТВОЙ ПОСТАВЩИК ЭНЕРГИИ</h1>
                <p class="opening--desc">
                    Neon~Energy — погрузись в мир энергии.
                        Найди идеальный энергетик для твоего стиля жизни.
                        Покаряй новые вершины и достигай взрыва энергии!
                        Не жди, заряжайся вместе с <b>Neon~Energy</b>.
                </p>
            </div>
            <div class="content--right">
                <div class="fly--energy">
                    <img src="images/energy_drink/Jaguar_Live.png" alt="энергетик Jaguar Live">
                </div>
                <div class="oval--backlight">
                    <img src="images/OvalBacklight.png" alt="">
                </div>
            </div>
        </section>

        <section class="section--products">
            <div class="container--products">
                <div class='container--products__header'>
                    <div class='products__header--left'>
                        <a href="#" class="products--link">
                            Популярные товары
                            <svg class="icon-arrow">
                                <use xlink:href="images/icons/arrow.svg#arrow"></use>
                            </svg>

                        </a>
                    </div>
                    <div class='products__header--right'></div>
                </div>
                <div class='container--products__body'>
                    <div class="swiper mySwiper_one container__card-product">
                        <div class="swiper-wrapper">
                            <card-product
                                v-for="(product, index) in newProduct"
                                :key="index"
                                :product="product"
                                @add='addProductCard'
                            >
                            </card-product>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination_swiper1"></div>
                    <div class="swiper-button-next_swiper1 swiper-button-next"></div>
                    <div class="swiper-button-prev_swiper1 swiper-button-prev"></div>
                </div>
                <div class="container--products__background bg-g"></div>
                <div class="container--products__background bg-w"></div>
            </div>

            <div class="container--products cp--mirrored">
                <div class='container--products__header'>
                    <div class='products__header--left'>
                        <a href="#" class="products--link">
                            Новинки и акции
                            <svg class="icon-arrow">
                                <use xlink:href="images/icons/arrow.svg#arrow"></use>
                            </svg>

                        </a>
                    </div>
                    <div class='products__header--right'></div>
                </div>
                <div class='container--products__body'>
                    <div class="swiper mySwiper_two container__card-product">
                        <div class="swiper-wrapper">
                            <card-product
                                v-for="(product, index) in newProduct"
                                :key="index"
                                :product="product"
                                @click='addProductCard'
                            >
                            </card-product>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination_swiper2"></div>
                    <div class="swiper-button-next swiper-button-next_swiper2"></div>
                    <div class="swiper-button-prev swiper-button-prev_swiper2"></div>
                </div>
                <div class="container--products__background bg-w"></div>
                <div class="container--products__background bg-g"></div>
            </div>
        </section>

        <section class="section--answers">
            <div class="answers__title">
                <h2>часто задаваемые</h2>
                <h1>вопросы</h1>
            </div>

            <div class="answers__accordion">
                <ul id="my-accordion" class="accordionjs">
                    <li class="accordion__wrapper accordion__line">
                        <div class="accordion__title">
                            Доставка
                            <svg>
                                <use xlink:href="images/icons/cross.svg#cross"></use>
                            </svg>
                        </div>
                        <div class="accordion__body">
                            Мы доставляем заказы в любую точку России. Стоимость и сроки доставки зависят от региона, веса посылки и способа доставки. Стоимость рассчитывается автоматически и сразу включается в счет заказа. Больше о доставке можно узнать во вкладке О нас.
                        </div>
                    </li>
                    <li class="accordion__wrapper">
                        <div class="accordion__title">
                            Оплата
                            <svg>
                                <use xlink:href="images/icons/cross.svg#cross"></use>
                            </svg>
                        </div>
                        <div class="accordion__body">
                            Оплата осуществляется по банковским картам и через СБП. Мы не просим и не принимаем деньги прямым переводом на карту или кошелек. Мы не работаем по пост оплате (оплата при получении). Больше об оплате можно узнать в кладке О нас.
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>

    <my-footer></my-footer>



    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/vue.js"></script>

    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/swiper.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="js/accordion.min.js"></script>
    <script src="js/accordion.js"></script>
</body>
</html>