/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: >0.3%,defaults
*/

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url(../../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: 'Sacramento Regular';
    src: url(../../fonts/Sacramento-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url(../../fonts/OpenSans-BoldItalic.ttf);
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url(../../fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url(../../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url(../../fonts/OpenSans-BoldItalic.ttf);
}

:root {
    --main-color-green: #00FF01;
}

* {
    box-sizing: border-box;

}

html {
    font-size: 10px;
    color: #ffffff;
    font-family: 'OpenSans-SemiBold', sans-serif;

    overflow-x: hidden;
}

body{
    background-color: #050505;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;

}

ul li {
    list-style-type: none;
}

ul {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

input {
    outline: none;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.text--caps {
    text-transform: uppercase;
}

.conteiner--image {
    display: block;
    height: 100%;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
}

.conteiner--image img {
    height: 100%;
}

.hidden {
    display: none;
}

svg {
    height: 2rem;
    width: 2rem;
}

use {
    display: block;
}

.icon-arrow {
    stroke: white;
    stroke-width: 3px;
}

.main {
    padding: 6rem 0;
    margin: 0 5%;

    display: flex;
    flex-direction: column;
    gap: 200px;
    flex: 1;
    align-items: center;
}

.d-none {
    display: none !important;
}

.pd-none {
    padding: 0 !important;
}

.btn {
    border: 1px solid transparent;

    border-radius: 30px;

    background-color: var(--main-color-green);

    color: #ffffff;
    font-size: 1.5rem;

    padding: 10px 20px;

    text-align: center;

    cursor: pointer;
}

.btn:hover {
    border-color: var(--main-color-green);
    background-color: transparent;
    color: var(--main-color-green);
}

/* ::-webkit-scrollbar {
    width: 0;
} */

/* фон скроллбара */
::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

/* кнопка направления полосе прокрутки */
/* ::-webkit-scrollbar-button {

} */

/* пустое пространство под индикатором прокрутки */
/* ::-webkit-scrollbar-track {

} */

/* индикатор прокрутки, перетаскиваемый элемент */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--main-color-green);
}
