/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: >0.3%,defaults
*/

.section_catalog {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.catalog_wrapper {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.catalog_partition {
    display: block;

    width: 2px;

    background-color: #818181;

    border-radius: 25px;
}

.catalog_teg_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    font-size: 1.5rem;
}

.tegs_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.teg_item {
    font-size: 1.2rem;
    font-family: "OpenSans-Regular";

    border: 1px solid transparent;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;

    background-color: #818181;

    padding: 5px 10px;

    cursor: pointer;
}

.teg_item:hover {
    border: 1px solid #3d3d3d;
}

.del_teg {
    width: 1rem;
    height: 1rem;

    cursor: pointer;
}

.del_teg svg {
    width: 1rem;
    height: 1rem;

    -webkit-transform: rotate(45deg);

            transform: rotate(45deg);
}

.del_teg:hover svg {
    fill: #000;
}

.filter_text {
    font-size: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    cursor: pointer;
}

.icon_filter {
    display: none;
}

.catalog_filters_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 20%;
    min-width: 300px;
}

.filters_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
}

.checkbox_wrapper {
    display: flex;
    align-items: center;

    width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
    display: inline-flex;
    align-items: center;
    position: relative;

    width: 100%;

    cursor: pointer;
}

input[type="checkbox"]+label::before,
input[type="radio"]+label::before {
    content: '';

    width: 10px;
    height: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #818181;
    border-radius: 50%;

    margin-right: 1rem;
}

input[type="checkbox"]:checked+label:after,
input[type="radio"]:checked+label:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--main-color-green);

    -webkit-transform: translate(70%, 0%);

            transform: translate(70%, 0%);
}

input[type="checkbox"]:checked+label::before,
input[type="radio"]:checked+label::before {
    border-color: var(--main-color-green);
}

input[type="checkbox"]:checked+label,
input[type="radio"]:checked+label {
    color: var(--main-color-green);
    font-style: italic;
}

.filter_wrapper {
    background-color: #fff;

    border-radius: 10px;

    padding: 10px 15px 20px 15px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: relative;
}

.title_filter {
    font-size: 2rem;
    color: #000;
}

.filter_list .checkbox_wrapper {
    color: #818181;
}

.filter_list {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    overflow-y: auto;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    height: 80px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;

    border-bottom: 1px solid #818181;
}

.filter_list::-webkit-scrollbar {
    width: 3px;
    border-radius: 50px;
    background-color: #dbdbdb;
}

.filter_list::-webkit-scrollbar-thumb {
    border-radius: 50px;
}

.filter_price_input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price_number {
    flex: 1;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    color: #818181;
}

.price_number .input_price {
    border: none;
    border-bottom: 1px solid #818181;
    padding: 2px 5px 1px 5px;

    width: 100%;

    font-size: 1.2rem;

    text-align: center;
}

.separator {
    height: 1px;
    width: 10px;
    margin: auto 10px;

    background-color: #818181;

    border-radius: 25px;
}

.price_slider {
    width: 100%;
    height: 5px;

    border-radius: 20px;

    background-color: #bebebe;

    margin: 1rem 0;

    position: relative;
}

.progress {
    position: absolute;

    height: 100%;
    left: 0%;
    right: 0%;

    border-radius: 20px;
    background: var(--main-color-green);
}

.filter_price_range {
    width: 100%;
    position: relative;
}

.filter_price_range input[type="range"]{
    position: absolute;
    width: 100%;

    height: 5px;

    background: none;

    pointer-events: none;

    -moz-appearance: none;

         appearance: none;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
    height: 15px;
    width: 15px;
    border: 3px solid var(--main-color-green);
    border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb{
    height: 15px;
    width: 15px;
    border: 3px solid var(--main-color-green);
    border-radius: 50%;
    background-color: #fff;
    -moz-appearance: none;
    cursor: pointer;
    pointer-events: auto;
}

input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]:active::-webkit-slider-thumb {
    background-color: var(--main-color-green);
}


input[type="range"]::-moz-range-thumb:hover,
input[type="range"]:active::-moz-range-thumb {
    background-color: var(--main-color-green);
}

.catalog_products {
    width: 100%;
}

.catalog_products_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.catalog_product {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin: 0 !important;
}

.title_cont_tag {
    align-self: flex-start;
    margin-top: 3px;
    font-size: 1.5rem;
}