/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: >0.3%,defaults
*/

.dialog_wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}


.dialog_content {
    position: absolute;
    top: 10rem;
    display: flex;
}

/* ПОИСК */
.searh_dialog_content {
    align-items: center;
    width: 80vw;
    font-size: 1.5rem;
    border: 1.5px solid transparent;
    border-radius: 25px;
}

.searh_dialog_content:hover {
    border: 1.5px solid #00FF01;
}

.dialog_focus {
    box-shadow: 0 0 0 1.5px #b7ffb7;
    border: 1.5px solid #00FF01;
}

.search_input {
    flex: 1;
    padding: 1rem 1.8rem;
    border-radius: 25px 0 0 25px;
    border: 1px solid transparent;
}

.search_btn {
    padding: 1rem 1.5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.search_btn svg {
    fill: #000;
    height: 2rem;
}

.search_btn_icon {
    border-radius: 0 25px 25px 0;
}

.search_btn_icon:hover svg {
    fill: #00FF01;
}

.searh_dialog_content .icon-cross {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.search_input_reset:hover svg {
    fill: #818181;
}

/* КОРЗИНА */
.basket_dialog_content {
    width: 60vw;
    height: fit-content;
    padding: 20px 50px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    border: 1.5px solid #00FF01;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #000;
}

.basket_dialog_header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket_title {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.close_basket_btn {
    background-color: transparent;
    width: 5rem;
    height: 5rem;
    transform: rotate(45deg);
}

.close_basket_btn svg {
    width: 4rem;
    height: 4rem;
    fill: #000;
}

.basket_main {
    display: flex;
    flex-direction: column;
}

.basket_image {
    height: 100px;
}

.basket_product {
    padding: 20px;
    min-height: 100px;
    display: flex;
    border-bottom: 1px solid #000;
}

.container_main_product {
    padding: 10px;
    display: flex;
    flex: 1;
}

.container_title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    flex: 1;
}

.btn_count_product {
    font-family: 'OpenSans-Regular', sans-serif;
    width: 8rem;
    font-size: 1.8rem;
    display: flex;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon_count {
    width: 1.5rem;
    height: 1.5rem;
    stroke: #000;
    stroke-width: 0.8px;
}

.basket_price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.basket_product_price {
    display: flex;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 2.5rem;
}

.icon_basket {
    fill: #000;
    width: 2rem;
    height: 2rem;
}

.btn_product_delete {
    align-self: flex-end;
}