/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: >0.3%,defaults
*/

.flash_messages_wrapper {
    position: fixed;
    top: 10vh;
    right: 1.5vw;
    font-size: 1.4rem;
    z-index: 50;
}

.flash_messages_wrapper .success {
    background-color: #00FF01;
}

.flash_messages_wrapper .error {
    background-color: #FF0000;
}

.flash_message_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.flash_message_item {
    align-self: flex-end;
    padding: 1rem 2rem;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid transparent;
}