/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: >0.3%,defaults
*/

.product_section {
    width: 80vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.swiper_product_wrapper {
    min-width: 500px;
    height: 500px;
}

.swiper_product_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 15px;
}

.swiper_product {
    height: 100%;
    width: 500px;
    border: 2px solid var(--main-color-green);
    border-radius: 30px;
    background-color: #ffffff;
    margin: 0;
}

.slide_image{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slide_image img {
    height: 100%;
    width: auto;
}

.swiper-pagination_swiper-page-products {
    left: 0 !important;
    top: auto !important;
    position: relative;
    -webkit-transform: none !important;
            transform: none !important;
}

.swiper-pagination_swiper-page-products .swiper-pagination-bullet-active {
    background-color: var(--main-color-green) !important;
}

.swiper-pagination_swiper-page-products .swiper-pagination-bullet {
    background-color: #ffffff;
    width: 6px;
    height: 45px;
    border-radius: 5px;
}

.product_info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 80px;
    color: #ffffff;
    margin-top: 40px;
}

.title_product_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product_section .wrapper__rating {
    color: #ffffff;
}

.product_section .star svg{
    stroke: #ffffff;
}

.product_section .full-star svg{
    fill: #ffffff;
}

.page-product__title-product {
    font-size: 3rem;
    font-family: 'OpenSans-BoldItalic';
}

.product-page__price-product__wrapper {
    color: #ffffff;
    font-size: 2.5rem;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.product-page__price-product__wrapper span {
    font-family: 'OpenSans-BoldItalic';
}

.product-page__price-product__special-price {
    font-size: 1.8rem;
    color:#818181;
    align-self: flex-end;
    position: absolute;
    right: -30%;
    top: -60%;
}

.product-page__price-product__special-price:after {
	content:"";
	display:block;
	position:absolute;
	left:-20%;top:50%;
	color:#818181;
	width:140%;
	height:0;
	border-bottom:2px solid #8181817c;
	-webkit-transform:rotate(-10deg);
	        transform:rotate(-10deg);
}

.product-page__price-product__special-price__text {
    font-size: 1.8rem;
    position: absolute;
    color: var(--main-color-green);
    top: 100%;
    left: 20%;
    white-space: nowrap;
}

.page-product__btn-basket {
    color: #000;
    font-size: 2rem;
    padding: 1rem 4rem;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}

.page-product__btn-basket::before {
    content:"next";
    font-family: swiper-icons;
    font-size: 2rem;
    border-radius: 50%;
    border: 2px solid transparent;
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    left: 2%;
    -webkit-transform: translate(0, -20%);
            transform: translate(0, -20%);
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-page__count-product {
    color: #ffffff;
    font-size: 1.8rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 1px solid #ffffff;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: .8rem 2rem;
}

.product-page__btn_product_count {
    cursor: pointer;
}

.product-page__btn_product_count .icon_count {
    width: 1.5rem;
    height: 1.5rem;
    stroke: #ffffff;
    stroke-width: 0.8px;
}

.product-desc__section {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product-desc__title {
    font-size: 3rem;
    font-style: italic;
}

.product-desc__accordion {
    font-size: 2rem;
    width: 50%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.product-desc__charact__tr {
    border-bottom: 1px solid #818181;
}

.product-desc__charact__tr th,
.product-desc__charact__tr td {
    padding: 10px 20px;
    vertical-align: top;
}

/* section reviews */

.reviews_section {
    width: 80vw;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title_section {
    font-size: 3rem;
}

.count_reviews {
    color: #818181;
    font-size: 1.5rem;
}

.reviews_wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    gap: 50px;
}

.not_comment {
    color: #818181;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 60%;
    flex: 2;
}

.comments_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    min-width: 60%;
    flex: 2;
}

.comment_wrapper {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    padding: 15px 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    border-radius: 25px;
    border: 1px solid #FFF;

    background: rgba(255, 255, 255, 0.1);
}

.comment_header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment_header .comment_login {
    color: var(--main-color-green);
    font-size: 1.5rem;
}

.comment_header .comment_create_time {
    font-size: 1.1rem;
    color: #ffffff;
    font-family: 'OpenSans-Regular';
}

.comment_content {
    color: #ffffff;
    font-size: 1.5rem;
    padding-left: 10px;
}

.comment_content_text {
    margin: 0;
    line-height: 1.5;
    font-family: 'OpenSans-Regular';
}

.comment__rating {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.comment__rating .star svg {
    stroke: var(--main-color-green);
    width: 1.2rem;
    height: 1.2rem;
}

.comment__rating .full-star svg {
    fill: var(--main-color-green);
}

.grade_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    min-width: -webkit-fit-content;

    min-width: -moz-fit-content;

    min-width: fit-content;

    flex: 1;
}

.grade_container {
    border-radius: 25px;

    background: #FFF;

    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-around;

    width: 300px;
    min-width: 300px;
    height: 300px;
    min-height: 300px;
}

.link_create_comment {
    width: 300px;
    min-width: 300px;
}

.grade_header {
    color: #000;
    font-size: 2.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.grade_product_rating {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.grade_product_rating .star svg {
    stroke: var(--main-color-green);
    width: 1.8rem;
    height: 1.8rem;
}

.grade_product_rating .full-star svg {
    fill: var(--main-color-green);
}

.grade_main {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    font-size: 1.2rem;
    color: #000;

    height: 100%;
}

.grade_main_item {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.5rem;
}

.progress_grade_container {
    background-color: #000;
    height: 4px;
    width: 150px;
    margin: 0 2rem;
}

.progress_grade {
    width: 0%;
    height: 100%;
    background-color: var(--main-color-green);
}

.creat_comment_section {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 80vw;
}

.btn_show_comment {
    color: #818181;
    font-size: 1.5rem;
    cursor: pointer;
}

.form_create_comment {
    width: 50%;

    padding-left: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input_wrapper input[type="text"], .input_wrapper textarea {
    padding: 10px;

    background-color: transparent;

    font-size: 1.5rem;
    color: #818181;

    outline: none;

    border: none;

    border-bottom: 1px solid #ffffff;

    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

/* input:valid,
textarea:valid {
    border-bottom-color: var(--main-color-green);
}

input:invalid,
textarea:invalid {
    border-bottom-color: red;
} */

.input_wrapper label {
    font-size: 1.5rem;
    color: #818181;
}

.input_wrapper {
    position: relative;
}

.input_wrapper label {
    position: absolute;
    left: 10px;
    bottom: 11px;
}



.input_wrapper input:not(:-moz-placeholder-shown)~label {
    color: var(--main-color-green);
    font-size: 1.2rem;
    bottom: calc(100% - 5px);
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.input_wrapper input:not(:-ms-input-placeholder)~label {
    color: var(--main-color-green);
    font-size: 1.2rem;
    bottom: calc(100% - 5px);
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.input_wrapper input:focus~label,
.input_wrapper input:not(:placeholder-shown)~label {
    color: var(--main-color-green);
    font-size: 1.2rem;
    bottom: calc(100% - 5px);
    transition: 0.5s;
}

.input_wrapper textarea:not(:-moz-placeholder-shown)~label {
    color: var(--main-color-green);
    font-size: 1.2rem;
    bottom: calc(100%);
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.input_wrapper textarea:not(:-ms-input-placeholder)~label {
    color: var(--main-color-green);
    font-size: 1.2rem;
    bottom: calc(100%);
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.input_wrapper textarea:focus~label,
.input_wrapper textarea:not(:placeholder-shown)~label {
    color: var(--main-color-green);
    font-size: 1.2rem;
    bottom: calc(100%);
    transition: 0.5s;
}

input[type="radio"] {
    display: none;
}

.create_comment_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input_rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
}

.rating_star {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4px;
}

.rating_star:not(:checked) > input {
	display: none;
}

.rating_star:not(:checked) > label {
    cursor: pointer;
    stroke: var(--main-color-green);
    fill: none !important;
}

.rating_star > input:checked ~ label svg{
    fill: var(--main-color-green);
}
